<h1>The project is <%= @project.name %></h1>
<h1>The project is <%= @project.title %></h1>
<h1>The project is <%= @project.description %></h1>
<h1>The project is <%= @project.img %></h1>
<h1>The project is <%= @project.href_project %></h1>
<h1>The project is <%= @project.href_github %></h1>
<h1>The project is <%= @project.responsive %></h1>
